*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.menu{
    display: none !important;
}
.list{
    display: none;
}
.dropdown:hover .list{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    background-color:white;
    position: absolute;
    box-shadow: 2px 2px 0px rgb(193, 189, 189) ;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2px;
    border: 1px solid gray;
}
.btn{
    border: none;
    display: flex;
    align-items: center;
    background-color:transparent;
}
.btn:hover{
    color: rgb(28,139,226);
}
 a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: rgb(28,139,226);
}
.nav-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap:10vw
}
.logo img{
    height: 30px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-left: 100px; */
    
}
.link{
    display: flex;
    align-items: center;
    /* justify-content:flex-end; */
    gap: 20px;
    /* margin-right: 100px; */
}
.signin{
    padding:10px 20px;
    background-color:#FFFFFF;
    border-radius: 5px;
    border:1px solid gray;
}
.signin:hover{
    color: blue;
    border: 1px solid blue;
}
.signup{
    background-color: #2294ED;
    color: white;
    padding:10px 20px;
    border-radius: 5px;
    border: none;
}
.signup:hover{
    background-color: #034b7e;
}
.section1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.section1 img{
    height: 400px;
}
.section1-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    gap: 20px;
   
}
.section1-text h1{
    color: #183B56;
    font-size: 50px;
}
.section1-text div{
    font-size: 24px;
    color: #577592;
}
.section1-text button{
    align-self: start;
}
.section2 .section2-text{
    text-align: center;
    color: #183B56;
    font-size: 18px;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    padding-top: 50px;
}
.section2 img{
    height: 50px;
}
.section-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
/* .section3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.section3{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 200px;
   
}
.section3 button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px 30px;
   
}
.arrow{
    color:#87C3F3 ;
}
.f{
    color: #183B56;
    font-size: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    
    
}
.card p{
    text-align: center;
}
.card button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:5px 20px;
  
}
.card-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    
  
    row-gap: 50px;
    margin-top: 30px;
}
.card1, .card4{
    justify-self: end;
}
.card2,.card5{
    justify-self: center;
}
.card3,.card6{
    justify-self:start;
}
.card h2{
    color: #183B56;
}
.card p{
    color: #577592;
    font-size: 18px;
}
.card img{
    height: 40px;
}
.section4-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    gap: 50px;
    margin-left:200px;
    margin-right: 200px;
}
.section4-img1{
    height: 500px;
}
.section4-div1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    width: 400px;
}
.chartMogul{
    height:30px;
    width: 125px;
}
.name{
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 10px;
}
.name img{
    height: 50px;
}
.chat{
    position: fixed;
    right: 20px;
    bottom: 20px;
   
}
.chat img{
    height: 50px;
}
.chat:hover{
    right: 5px;
    bottom: 5px;
}
.chat:hover img{
    height: 60px;
}
.footer-container1{
    background-color: #EBF2FA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5vw 10vw 5vw 10vw;
    margin-top: 100px;
}
.footerlogo{
    height: 30px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-content a{
    color: #6F9DC7;
}
.footer-content a:hover{
    color: rgb(28,139,226);
}
.footer-container2{
    display: flex;
    justify-content: space-around;
    background-color: #B9CDE4;
    padding: 2vw 25vw 2vw 25vw;
}
.footer-container2-content1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-container2-content2{
    display: flex;
    align-items: center;
    gap: 20px;
}